a {
  text-decoration: none !important;
}

div.wechat, div.qq {
  padding: 0;
}

code {
  color: inherit !important;
  font-weight: initial !important;
  display: initial !important;
  box-shadow: none !important;
  font-size: 13.6px !important;
}

code:after,
kbd:after,
code:before,
kbd:before {
  display: none !important;
}

.hljs {
  background: inherit !important;
}

.postlink {
  text-decoration: none;
}
